@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  font-family: var(--font-sans);
  --grid-template-rows-app: min-content max-content 1fr;
}
